:root {
  --alpha: #2c3e50;
  --beta: #0a7ed2;
  --gamma: #1d2730;
  --delta: #ededed;
  --alert: #fd5959;
  --contrast: #e84188;
  --elements: #c4c4c4;
  --light: #fff;
  --skills: #e1e1e1;
  --green: #3ac63d;
  --orange: #f7ae5a;
  --red: #ff4040;
}
