::-webkit-input-placeholder {
  /* Edge */
  color: var(--elements);
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--elements);
}

::placeholder {
  color: var(--elements);
}
